<!--封装的头部-->
<!DOCTYPE html>
<html>
<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css' />
</head>

<body class="container">
  <!--导航条-->
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
        <a class="navbar-brand" href="javascript:void(0);">钱思敏的博客</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Link <span class="sr-only">(current)</span></a></li>
          <!--登录的状态-->
          <% if(isLogin) {%>
            <li><a href="/articles/published">发表文章</a></li>
            <li><a href="/users/logout">退出</a></li>
          <%  } else { %>
          <!--未登录的状态-->
            <li><a href="/users/reg">注册</a></li>
            <li><a href="/users/login">登录</a></li>
          <% } %>
        </ul>
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default">搜索</button>
        </form>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <!--弹框flash-->
<% if(success) {%>
  <!--success-->
  <div class="alert alert-success" role="alert">
      <a href="#" class="alert-link"><%= success%></a>
  </div>
<%} else if(error) {%>
<!--error-->
  <div class="alert alert-danger" role="alert">
    <a href="#" class="alert-link"><%= error%></a>
  </div>
<%} %>