<%- include include/header.html%>
    <h2 style="font-size: 20px; border-bottom:1px dashed #000">文章列表（支持markdown语法）</h2>
    <% articles.forEach((o, i) => { %>
    <!--文章列表-->
    <div class="media">
        <div class="media-left">
            <a href="#">
             <img class="media-object avatar" src="http://school.zhufengpeixun.cn/assets/img/default/avatar.png?6.8.4" alt="...">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                <a href="/articles/detail/<%= o._id %>">
                    <%= o.title %>
                </a>
            </h4>
            <p><%- o.content %></p>
            <% if(o.poster) {%>
                <p><img src=<%= o.poster %> alt=""></p>
            <% } %>
        </div>
        <div class="media-bottom">
            作者： <%= o.user.username %>
            发表时间： <%= o.createAt.toLocaleString()  %>
            阅读：<%= o.pv %>|
            评论：<%= o.comments.length%>
        </div>
    </div>
  <%  }) %>
  <!--分页-->
  <!--总页数大于1的时候才会显示分页哦-->
  <nav style="display: <%= totalPage > 1 ? 'blcok' : 'none' %>">
        <ul class="pagination">
            <% if(pageNum > 1 ) {%>
            <li>
                <a href="/?searchword=<%= searchword %>&pageNum=<%= pageNum-1 %>&pageSize=<%= pageSize %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% } %>
                <% for(var i = 1; i <= totalPage; i ++) {%>
                    <li class="<%= i == pageNum ?  'active' : '' %>"><a href="/?searchword=<%= searchword %>&pageNum=<%= i %>&pageSize=<%= pageSize %>"><%= i %></a></li>
                <% } %>
            <% if(pageNum < totalPage) {%>
                <li>
                    <a href="/?searchword=<%= searchword %>&pageNum=<%= pageNum+1 %>&pageSize=<%= pageSize %>" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            <% } %>
        </ul>
  </nav>
  <button type="button" class="btn btn-success" id="showarticle">显示文章的列表</button>
<%- include include/footer.html%>
<style>
.avatar {width:50px; height:50px; border-radius: 50%}
</style>
<script>
    var btn = $('#showarticle')

    btn.on('click', function () {
        $.ajax({
            url: '/articles/articleList',
            methods: 'get',
            data: {number: 20},
            success: function (result) {
                console.log(result)
            }
        })
    })
</script>